.wrapper{
    margin: 0;
    width: 100%;
    height: 100%; 
    background-color: #ecac61;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%; 
    background-color: #ecac61;
}
header {
    display: flex;
    align-items: center;
    
    margin: 0%;
    width: 100%;
    height: 10vh;
}


.posiForm{
    background-color: rgb(230, 221, 103);
}

.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label{
    font-size: 25px;
}

.input{
    width: 10vw;
    height: 2vh;
}

#posiButtons{
    display: flex;
    
}



.buttonS{
    width: 6vw;
    height: 3vh;
    margin: 1.5rem;
    background-color: aliceblue;
}
.buttonS:hover{
    background-color: rgb(0, 255, 55);
}

.buttonD{
    width: 6vw;
    height: 3vh;
    margin: 1.5rem;
    background-color: aliceblue;

}
.buttonD:hover{
    background-color: red;
}
.buttonR{
    width: 6vw;
    height: 3vh;
    margin: 1.5rem;
    background-color: aliceblue;

}
.buttonR:hover{
    background-color: rgb(251, 255, 0);
}
.buttonC{
    width: 6vw;
    height: 3vh;
    margin: 1.5rem;
    background-color: aliceblue;

}
.buttonC:hover{
    background-color: rgb(0, 174, 255);
    
}